.main{
    animation: float 5s ease-in-out infinite;
    box-shadow: 0 5px 20px rgb(1, 255, 255); 
  
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
    
  }
  